.App {
  text-align: center;
}

.avatar {
  width: 60px;
}

ul {
  list-style-type: none;
  width: 60%;
  margin: 10px auto;
  padding: 15px;
  border: 1px solid gray;
}

span {
  font-weight: bold;
}
